[submodule "ShadowstarKit"]
	path = ShadowstarKit
	url = https://github.com/HsiangHo/ShadowstarKit.git
[submodule "Shortcuts"]
	path = Shortcuts
	url = https://github.com/HsiangHo/ShortcutsKit.git
[submodule "RateKit"]
	path = RateKit
	url = https://github.com/HsiangHo/RateKit
[submodule "AppStoreUpdateKit"]
	path = AppStoreUpdateKit
	url = https://HsiangHo@github.com/HsiangHo/AppStoreUpdateKit.git
